
                                            /*HEADER*/
 
.logoHeader{
    text-align: center;
}
.titleLogo{
    text-align: center;
    margin-top:30px;
    margin-bottom: 50px;
}

.navbar-nav .dropdown-menu {
    overflow: hidden;
    width: 100%;
    top: 50px;
}
.nav-item {
    padding-right: 50px;
    padding-left: 50px;
}
                                                   


                                                     /*SLIDER*/
.carousel{
    text-align: center;
    top:50px;
}

#carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
}
#prevSlider {
    left: 230px;
}
#nextSlider {
    right: 230px;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
}
.container .barre1 {
    width: 82px;
    height: 2px;
    background: grey;
    margin-top: 44px;
}
.container .barre2 {
    width: 82px;
    height: 2px;
    background: grey;
    margin-top: 44px;
}

                                            /* CONTACT */

#contact{
    text-align: center;
}
.container{
   display: flex;
   justify-content: center;
   width: 85%;
   margin: 0 auto;
}
#cardContact{
    margin-right:200px;
}
.formContact{
    margin-left: -120px;
}
#submitContact{
    margin-top: 64px;
}
#submitHome {
    margin-top: 64px;
    margin-left: 100px;
}

#imgConcept{
    width:20%;
}
                                                    /* ABOUT */
#imgAbout{
    position: absolute;
    width: 7%;
    top: -21px;
    left: 20px;
}
#aboutImage1{
    width: 40%;
    border-radius: 50%;
    margin-top: 50px;
}
#submitHomeAbout{
    right: 200px;
    position: absolute;
}
                                                    /*CONCEPT*/
#titleConcept{
    text-align: center;
}
#imgConcept{
    position: absolute;
    width: 7%;
    top: -21px;
    left: 20px;
}
#conceptImage1 {
    width: 20%;
    border-radius: 50%;
    margin-top: 50px;
}
#submitConcept{
    position: absolute;
    right: 400px;
}
                                                    /*PAINTING*/
.logo{
    position: relative;
    float: left;
}
#imgPainting{
   
     width: 7%;
}
                                                    /*HOME*/
.image{
    display: inline-block;
    position: relative;
}

.image h4 {
    visibility: hidden;
    position:absolute;
    font-family: "Comic Sans MS",
    Verdana,
    Arial,
    serif;
    color:black;
    background-color: white;
    margin-top: -40px;
    margin-left:15px;
}
.image img:hover+h4 {
    visibility: visible;
    z-index: 5;
}
#cardDeck{
    width:75%;
    margin: auto;
    margin-top:200px;
    text-align: center;
}

                                                    /*ADMIN*/

.fa-question-circle:before {
    content: "\f059";
    padding-left:15px;
}
.fa-question-circle:hover {
    color: LightSlateGray;
}
.resumeCategory{
    display:none;
}
#croix {
    position: absolute;
    top: 5px;
    right: 5px;
}
#addImage {
    display: none;
}
#crossAddbutton {
    display: none;
}
                                                     /*FOOTER*/
footer {
    margin-top: 120px;
}
.container-style {
    margin-top:50px;
    text-align: center;
    position: relative;
}

.container-style:before {
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    background: #025a55;
    position: absolute;
    top: calc(50% - 1px);
}

.container-style span {
    display: inline-block;
    padding: 0 40px;
    background: white;
    color:#025a55;
    position: relative;
    z-index: 1;
}

                                                    /*INSTAGRAM*/

.cardInstagram{
    position: relative;
    text-align: center;
}

@media (min-device-width: 180px) and (max-device-width:480px),(min-width: 180px) and (max-width:480px) {
    #carousel {
        display: none;
    }
    #cardDeck {
        margin-top: 20px;
    }
    table, thead, tbody, tr, th, td {
        display: block;
    }
    #data {
        padding-left: 150px;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        display: flex;
        align-items: center;
        font-weight: bold;
        padding: 10px;
    }

    tr {
        margin-bottom: 2rem;
    }

    thead {
        display: none;
    }
    
                                                /* CONTACT */
    #containerCard{
        display:inline-block;
    }
    #cardContact {
        float: none;
        margin: 0 auto;
        margin-bottom:50px;
    }
    .formContact {
        margin-left: 0;
    }
    
}

@media (orientation: landscape) and (min-device-width : 481px) and (max-device-width : 767px),
(min-width: 481px) and (max-width:767px) {
    #prevSlider {
        left: 100px;
    }
    #nextSlider {
        right: 100px;
    }
    #cardDeck { 
        margin-top: 90px;
    }
}
@media (min-device-width : 768px) and (max-device-width : 1023px),
(min-width: 768px) and (max-width:1023px) {
    .carousel {
        margin-bottom: -100px;
    }
    #prevSlider {
        left: 120px;
    }
    #nextSlider {
        right: 120px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        font-size: 13px;
    }
}

@media (orientation: landscape) and (min-device-width : 1024px) and (max-device-width : 1366px),
(min-width: 1024px) and (max-width:1366px) {
    #navbarSupportedContent {
        font-size: 10px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        font-size: 13px;
    }
    #prevSlider {
        left: 150px;
    }

    #nextSlider {
        right: 150px;
    }
}
